#dd-cf7-ctct .card, .settings_page_dd-ctct-extra .card {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #e5e5e5;
	border-left: 4px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	margin-top: 20px;
	max-width: 600px;
	min-width: 255px;
	padding: 0.7em 2em 1em;
	position: relative;
}
form.tag-generator-panel[data-id="ctct"] {
    height: 550px;
}
#dd-cf7-ctct .card.active {
	border-color: #00a0d2;
}

#dd-cf7-ctct .card img.icon {
	float: left;
	margin: 8px 8px 8px -8px;
}

#dd-cf7-ctct .card h2.title {
	float: left;
	max-width: 240px;
	font-size: 1.3em;
	font-weight: 600;
}

#dd-cf7-ctct .card .infobox {
	float: right;
	font-size: 13px;
	color: #666;
	margin: 2px 0 5px;
	line-height: 1.5;
	max-width: 240px;
}

#dd-cf7-ctct .card .inside .form-table th {
	padding: 15px 10px 15px 0;
	width: 160px;
}

#dd-cf7-ctct .card .inside .form-table td {
	padding: 10px 10px;
}

#dd-cf7-ctct .card .checkboxes li {
	margin: 0;
}
#dd-cf7-ctct .bold-label {
	font-weight: bold;
	display: inline-block;
	padding-right: 1rem;
}
#dd-ctct-panel label {
    min-width: 150px;
    display: inline-block;
}

#dd-ctct-panel select {
    min-width: 200px;
}
.dd-ctct-submit-wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
    justify-content: space-between;
	width: 100%;
}
#dd-cf7-ctct .alert-danger {
    background: rgba(255, 0, 0, 0.3);
    padding: 1px 15px;
    border-radius: 8px;
}
#dd-cf7-ctct .alert-info {
    background: rgba(176, 175, 167, 0.3);
    padding: 1px 15px;
    border-radius: 8px;
}
#dd-cf7-ctct .api_callback_field{
	width: 100%;
	margin-bottom: .5rem;
}
div#tab_ctct_email {
    max-width: 1000px;
    width: 100%;
}
@media (max-width: 767px){
	#dd-cf7-ctct .card, .settings_page_dd-ctct-extra .card {
		max-width: 100%;
	}
}